<div class="dh-keys">
    <div class="dh-range">
      <div class="dh-key-white" data-key="1"></div>
      <div class="dh-key-black" data-key="2"></div>
      <div class="dh-key-white" data-key="3"></div>

      <div class="dh-key-white" data-key="4"></div>
      <div class="dh-key-black" data-key="5"></div>
      <div class="dh-key-white" data-key="6"></div>
      <div class="dh-key-black" data-key="7"></div>
      <div class="dh-key-white" data-key="8"></div>
      <div class="dh-key-white" data-key="9"></div>
      <div class="dh-key-black" data-key="10"></div>
      <div class="dh-key-white" data-key="11"></div>
      <div class="dh-key-black" data-key="12"></div>
      <div class="dh-key-white" data-key="13"></div>
      <div class="dh-key-black" data-key="14"></div>
      <div class="dh-key-white" data-key="15"></div>

      <div class="dh-key-white" data-key="16"></div>
      <div class="dh-key-black" data-key="17"></div>
      <div class="dh-key-white" data-key="18"></div>
      <div class="dh-key-black" data-key="19"></div>
      <div class="dh-key-white" data-key="20"></div>
      <div class="dh-key-white" data-key="21"></div>
      <div class="dh-key-black" data-key="22"></div>
      <div class="dh-key-white" data-key="23"></div>
      <div class="dh-key-black" data-key="24"></div>
      <div class="dh-key-white" data-key="25"></div>
      <div class="dh-key-black" data-key="26"></div>
      <div class="dh-key-white" data-key="27"></div>

      <div class="dh-key-white" data-key="28"><div>A</div></div>
      <div class="dh-key-black" data-key="29"><div>W</div></div>
      <div class="dh-key-white" data-key="30"><div>S</div></div>
      <div class="dh-key-black" data-key="31"><div>E</div></div>
      <div class="dh-key-white" data-key="32"><div>D</div></div>
      <div class="dh-key-white" data-key="33"><div>F</div></div>
      <div class="dh-key-black" data-key="34"><div>T</div></div>
      <div class="dh-key-white" data-key="35"><div>G</div></div>
      <div class="dh-key-black" data-key="36"><div>Z</div></div>
      <div class="dh-key-white" data-key="37"><div>H</div></div>
      <div class="dh-key-black" data-key="38"><div>U</div></div>
      <div class="dh-key-white" data-key="39"><div>J</div></div>

      <div class="dh-key-white" data-key="40"></div>
      <div class="dh-key-black" data-key="41"></div>
      <div class="dh-key-white" data-key="42"></div>
      <div class="dh-key-black" data-key="43"></div>
      <div class="dh-key-white" data-key="44"></div>
      <div class="dh-key-white" data-key="45"></div>
      <div class="dh-key-black" data-key="46"></div>
      <div class="dh-key-white" data-key="47"></div>
      <div class="dh-key-black" data-key="48"></div>
      <div class="dh-key-white" data-key="49"></div>
      <div class="dh-key-black" data-key="50"></div>
      <div class="dh-key-white" data-key="51"></div>

      <div class="dh-key-white" data-key="52"></div>
      <div class="dh-key-black" data-key="53"></div>
      <div class="dh-key-white" data-key="54"></div>
      <div class="dh-key-black" data-key="55"></div>
      <div class="dh-key-white" data-key="56"></div>
      <div class="dh-key-white" data-key="57"></div>
      <div class="dh-key-black" data-key="58"></div>
      <div class="dh-key-white" data-key="59"></div>
      <div class="dh-key-black" data-key="60"></div>
      <div class="dh-key-white" data-key="61"></div>
      <div class="dh-key-black" data-key="62"></div>
      <div class="dh-key-white" data-key="63"></div>

      <div class="dh-key-white" data-key="64"></div>
      <div class="dh-key-black" data-key="65"></div>
      <div class="dh-key-white" data-key="66"></div>
      <div class="dh-key-black" data-key="67"></div>
      <div class="dh-key-white" data-key="68"></div>
      <div class="dh-key-white" data-key="69"></div>
      <div class="dh-key-black" data-key="70"></div>
      <div class="dh-key-white" data-key="71"></div>
      <div class="dh-key-black" data-key="72"></div>
      <div class="dh-key-white" data-key="73"></div>
      <div class="dh-key-black" data-key="74"></div>
      <div class="dh-key-white" data-key="75"></div>

      <div class="dh-key-white" data-key="76"></div>
      <div class="dh-key-black" data-key="77"></div>
      <div class="dh-key-white" data-key="78"></div>
      <div class="dh-key-black" data-key="79"></div>
      <div class="dh-key-white" data-key="80"></div>
      <div class="dh-key-white" data-key="81"></div>
      <div class="dh-key-black" data-key="82"></div>
      <div class="dh-key-white" data-key="83"></div>
      <div class="dh-key-black" data-key="84"></div>
      <div class="dh-key-white" data-key="85"></div>
      <div class="dh-key-black" data-key="86"></div>
      <div class="dh-key-white" data-key="87"></div>

      <div class="dh-key-white" data-key="88"></div>
    </div>
  </div>
