<div #range class="dh-keys" style="-webkit-app-region: no-drag">
    <div class="dh-range">
      <div class="dh-key-white" data-key="1" data-note="A0"></div>
      <div class="dh-key-black" data-key="2" data-note="A#0"></div>
      <div class="dh-key-white" data-key="3" data-note="B0"></div>

      <div class="dh-key-white" data-key="4" data-note="C1"></div>
      <div class="dh-key-black" data-key="5" data-note="C#1"></div>
      <div class="dh-key-white" data-key="6" data-note="D1"></div>
      <div class="dh-key-black" data-key="7" data-note="D#1"></div>
      <div class="dh-key-white" data-key="8" data-note="E1"></div>
      <div class="dh-key-white" data-key="9" data-note="F1"></div>
      <div class="dh-key-black" data-key="10" data-note="F#1"></div>
      <div class="dh-key-white" data-key="11" data-note="G1"></div>
      <div class="dh-key-black" data-key="12" data-note="G#1"></div>
      <div class="dh-key-white" data-key="13" data-note="A1"></div>
      <div class="dh-key-black" data-key="14" data-note="A#1"></div>
      <div class="dh-key-white" data-key="15" data-note="B1"></div>

      <div class="dh-key-white" data-key="16" data-note="C2"></div>
      <div class="dh-key-black" data-key="17" data-note="C#2"></div>
      <div class="dh-key-white" data-key="18" data-note="D2"></div>
      <div class="dh-key-black" data-key="19" data-note="D#2"></div>
      <div class="dh-key-white" data-key="20" data-note="E2"></div>
      <div class="dh-key-white" data-key="21" data-note="F2"></div>
      <div class="dh-key-black" data-key="22" data-note="F#2"></div>
      <div class="dh-key-white" data-key="23" data-note="G2"></div>
      <div class="dh-key-black" data-key="24" data-note="G#2"></div>
      <div class="dh-key-white" data-key="25" data-note="A2"></div>
      <div class="dh-key-black" data-key="26" data-note="A#2"></div>
      <div class="dh-key-white" data-key="27" data-note="B2"></div>

      <div class="dh-key-white" data-key="28" data-note="C3"><div>A</div></div>
      <div class="dh-key-black" data-key="29" data-note="C#3"><div>W</div></div>
      <div class="dh-key-white" data-key="30" data-note="D3"><div>S</div></div>
      <div class="dh-key-black" data-key="31" data-note="D#3"><div>E</div></div>
      <div class="dh-key-white" data-key="32" data-note="E3"><div>D</div></div>
      <div class="dh-key-white" data-key="33" data-note="F3"><div>F</div></div>
      <div class="dh-key-black" data-key="34" data-note="F#3"><div>T</div></div>
      <div class="dh-key-white" data-key="35" data-note="G3"><div>G</div></div>
      <div class="dh-key-black" data-key="36" data-note="G#3"><div>Z</div></div>
      <div class="dh-key-white" data-key="37" data-note="A3"><div>H</div></div>
      <div class="dh-key-black" data-key="38" data-note="A#3"><div>U</div></div>
      <div class="dh-key-white" data-key="39" data-note="B3"><div>J</div></div>

      <div class="dh-key-white" data-key="40" data-note="C4"><div>K</div></div>
      <div class="dh-key-black" data-key="41" data-note="C#4"><div>O</div></div>
      <div class="dh-key-white" data-key="42" data-note="D4"><div>L</div></div>
      <div class="dh-key-black" data-key="43" data-note="D#4"><div>P</div></div>
      <div class="dh-key-white" data-key="44" data-note="E4"></div>
      <div class="dh-key-white" data-key="45" data-note="F4"></div>
      <div class="dh-key-black" data-key="46" data-note="F#4"></div>
      <div class="dh-key-white" data-key="47" data-note="G4"></div>
      <div class="dh-key-black" data-key="48" data-note="G#4"></div>
      <div class="dh-key-white" data-key="49" data-note="A4"></div>
      <div class="dh-key-black" data-key="50" data-note="A#4"></div>
      <div class="dh-key-white" data-key="51" data-note="B4"></div>

      <div class="dh-key-white" data-key="52" data-note="C5"></div>
      <div class="dh-key-black" data-key="53" data-note="C#5"></div>
      <div class="dh-key-white" data-key="54" data-note="D5"></div>
      <div class="dh-key-black" data-key="55" data-note="D#5"></div>
      <div class="dh-key-white" data-key="56" data-note="E5"></div>
      <div class="dh-key-white" data-key="57" data-note="F5"></div>
      <div class="dh-key-black" data-key="58" data-note="F#5"></div>
      <div class="dh-key-white" data-key="59" data-note="G5"></div>
      <div class="dh-key-black" data-key="60" data-note="G#5"></div>
      <div class="dh-key-white" data-key="61" data-note="A5"></div>
      <div class="dh-key-black" data-key="62" data-note="A#5"></div>
      <div class="dh-key-white" data-key="63" data-note="B5"></div>

      <div class="dh-key-white" data-key="64" data-note="C6"></div>
      <div class="dh-key-black" data-key="65" data-note="C#6"></div>
      <div class="dh-key-white" data-key="66" data-note="D6"></div>
      <div class="dh-key-black" data-key="67" data-note="D#6"></div>
      <div class="dh-key-white" data-key="68" data-note="E6"></div>
      <div class="dh-key-white" data-key="69" data-note="F6"></div>
      <div class="dh-key-black" data-key="70" data-note="F#6"></div>
      <div class="dh-key-white" data-key="71" data-note="G6"></div>
      <div class="dh-key-black" data-key="72" data-note="G#6"></div>
      <div class="dh-key-white" data-key="73" data-note="A6"></div>
      <div class="dh-key-black" data-key="74" data-note="A#6"></div>
      <div class="dh-key-white" data-key="75" data-note="B6"></div>

      <div class="dh-key-white" data-key="76" data-note="C7"></div>
      <div class="dh-key-black" data-key="77" data-note="C#7"></div>
      <div class="dh-key-white" data-key="78" data-note="D7"></div>
      <div class="dh-key-black" data-key="79" data-note="D#7"></div>
      <div class="dh-key-white" data-key="80" data-note="E7"></div>
      <div class="dh-key-white" data-key="81" data-note="F7"></div>
      <div class="dh-key-black" data-key="82" data-note="F#7"></div>
      <div class="dh-key-white" data-key="83" data-note="G7"></div>
      <div class="dh-key-black" data-key="84" data-note="G#7"></div>
      <div class="dh-key-white" data-key="85" data-note="A7"></div>
      <div class="dh-key-black" data-key="86" data-note="A#7"></div>
      <div class="dh-key-white" data-key="87" data-note="B7"></div>

      <div class="dh-key-white" data-key="88" data-note="C8"></div>
    </div>
  </div>
