@font-face {
  font-family: 'Roboto Condensed';
  font-weight:300;
  src: url(../../../assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf) format("truetype");
}

.dh-keys {
  overflow: hidden;
  // overflow-x: auto;
}

.dh-range {
  display: flex;
  flex-direction: row;
  width: 2236px;
  height: 200px;
  padding-bottom: 0px;
}

.dh-key-white {
  width: 40px;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 3px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: auto;
}
.dh-key-white:last-child {
  margin-right: 0;
}
.dh-key-white > div {
  text-align: center;
  font-family: 'Roboto Condensed';
  color: #ccc;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  flex: 1;
  bottom: 7px;
  left: 16px;
  pointer-events: none;
}

.dh-key-black {
  z-index: 100;
  position: relative;
  width: 20px;
  background: #000;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 65%;
  left: -11px;
  margin-right: -20px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dh-key-black > div {
  text-align: center;
  font-family: 'Roboto Condensed';
  color: #555;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  flex: 1;
  bottom: 7px;
  left: 6px;
  pointer-events: none;
}

@keyframes fade2white {
  from {
    background: #89d0ff;
  }
  to {
    background: #fff;
  }
}

@keyframes fade2black {
  from {
    background: #065a92;
  }
  to {
    background: #000;
  }
}
