.control-lbl {
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding: 8px 10px 5px 0;
}

.control {
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;

  .label {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: grey;
  }

  .body {
    padding-top: 15px;
  }
}

