<div class="osc">
  <div class="controls">
    <div class="control">
      <div class="label">Cutoff</div>
      <jqxKnob (onChange)="changeCutoff($event)" [value]="cutoff" [min]="0" [max]="10000" [step]="1" [startAngle]="120"
        [endAngle]="480" [snapToStep]="false" [rotation]="'clockwise'" [width]="40" [height]="40" [marks]="marksCutoff"
        [pointer]="pointer" [spinner]="spinner" [dial]="dial" [dragStartAngle]="120" [dragEndAngle]="420">
      </jqxKnob>
    </div>
    <div class="control">
      <div class="label">Filter</div>
      <jqxKnob (onChange)="changeFilter($event)" [value]="filter" [min]="0" [max]="3" [step]="1" [startAngle]="120"
        [endAngle]="480" [snapToStep]="true" [rotation]="'clockwise'" [width]="40" [height]="40" [marks]="marksFilter"
        [labels]="labelsWave" [pointer]="pointer" [spinner]="spinner" [dial]="dial" [dragStartAngle]="180"
        [dragEndAngle]="360">
      </jqxKnob>
    </div>
  </div>
  <div class="controls">
    <div class="control">
      <div class="label">Res</div>
      <jqxKnob (onChange)="changeRes($event)" [value]="resonance" [min]="0" [max]="50" [step]="1" [startAngle]="120"
        [endAngle]="480" [snapToStep]="true" [rotation]="'clockwise'" [width]="40" [height]="40" [marks]="marksRes"
        [pointer]="pointer" [spinner]="spinner" [dial]="dial" [dragStartAngle]="120" [dragEndAngle]="420">
      </jqxKnob>
    </div>
  </div>
  <div class="space">&nbsp;&nbsp;&nbsp;</div>
  <div class="controls">
    <div class="control adsr">
      <div class="label">A</div>
      <jqxSlider #sliderAttack (onChange)="changeAttack($event)" [showButtons]="false" 
      [height]="115" [width]="40" [orientation]="'vertical'" [min]="0" [max]="250"
        [ticksFrequency]="25" [tooltip]="false" [mode]="'fixed'" [tickSize]="4">
      </jqxSlider>
    </div>
  </div>
  <div class="controls">
    <div class="control adsr">
      <div class="label">D</div>
      <jqxSlider #sliderDecay (onChange)="changeDecay($event)" [showButtons]="false" 
      [height]="115" [width]="40" [orientation]="'vertical'" [min]="0" [max]="100"
        [ticksFrequency]="10" [tooltip]="false" [mode]="'fixed'" [tickSize]="4">
      </jqxSlider>
    </div>
  </div>
  <div class="controls">
    <div class="control adsr">
      <div class="label">S</div>
      <jqxSlider #sliderSustain (onChange)="changeSustain($event)" [showButtons]="false" 
      [height]="115" [width]="40" [orientation]="'vertical'" [min]="0" [max]="100"
        [ticksFrequency]="10" [tooltip]="false" [mode]="'fixed'" [tickSize]="4">
      </jqxSlider>
    </div>
  </div>
  <div class="controls">
    <div class="control adsr">
      <div class="label">R</div>
      <jqxSlider #sliderRelease (onChange)="changeRelease($event)" [showButtons]="false" 
      [height]="115" [width]="40" [orientation]="'vertical'" [min]="0" [max]="250"
        [ticksFrequency]="25" [tooltip]="false" [mode]="'fixed'" [tickSize]="4">
      </jqxSlider>
    </div>
  </div>
</div>