.control-lbl {
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 8px 10px 5px 0;
  }
  
  canvas {
    float: left;
    margin: 12px 0;
    outline: 1px solid #252E37;;
}