<div class="synth">

  <div class="master shadow round-corners">
    <dhMaster [volume]="valVolume" [panning]="valPanning" [poly]="valPoly" (volumeChange)="setMasterVolume($event)"
      (panningChange)="setMasterPan($event)" (modeChange)="setMasterPolyMode($event)"></dhMaster>
  </div>

  <div class="oscillators">
    <div class="osc shadow round-corners">
      <dhOscillator [wave]="valOsc1Wave" [gain]="valOsc1Gain" [pan]="valOsc1Pan" [tune]="valOsc1Tune"
      [attack]="valOsc1Attack" [decay]="valOsc1Decay" [sustain]="valOsc1Sustain" [release]="valOsc1Release" 
      (waveChange)="setOsc1Wave($event)" (gainChange)="setOsc1Gain($event)" (panChange)="setOsc1Pan($event)"
        (tuneChange)="setOsc1Tune($event)" (attackChange)="setOsc1Attack($event)" (decayChange)="setOsc1Decay($event)"
        (sustainChange)="setOsc1Sustain($event)" (releaseChange)="setOsc1Release($event)"></dhOscillator>
    </div>
    <!-- <div class="osc shadow round-corners">
      <dhOscillator [wave]="valOsc2Wave" [gain]="valOsc2Gain" [pan]="valOsc2Pan" [tune]="valOsc2Tune" 
      [attack]="valOsc2Attack" [decay]="valOsc2Decay" [sustain]="valOsc2Sustain" [release]="valOsc2Release" 
      (waveChange)="setOsc2Wave($event)" (gainChange)="setOsc2Gain($event)" (panChange)="setOsc2Pan($event)"
        (tuneChange)="setOsc2Tune($event)" (attackChange)="setOsc2Attack($event)" (decayChange)="setOsc2Decay($event)"
        (sustainChange)="setOsc2Sustain($event)" (releaseChange)="setOsc2Release($event)"></dhOscillator>
    </div>
    <div class="osc shadow round-corners">
      <dhOscillator [wave]="valOsc3Wave" [gain]="valOsc3Gain" [pan]="valOsc3Pan" [tune]="valOsc3Tune" 
      [attack]="valOsc3Attack" [decay]="valOsc3Decay" [sustain]="valOsc3Sustain" [release]="valOsc3Release" 
      (waveChange)="setOsc3Wave($event)" (gainChange)="setOsc3Gain($event)" (panChange)="setOsc3Pan($event)"
        (tuneChange)="setOsc3Tune($event)" (attackChange)="setOsc3Attack($event)" (decayChange)="setOsc3Decay($event)"
        (sustainChange)="setOsc3Sustain($event)" (releaseChange)="setOsc3Release($event)"></dhOscillator>
    </div>
    <div class="osc shadow round-corners">
      <dhOscillator [wave]="valOsc4Wave" [gain]="valOsc4Gain" [pan]="valOsc4Pan" [tune]="valOsc4Tune" 
      [attack]="valOsc4Attack" [decay]="valOsc4Decay" [sustain]="valOsc4Sustain" [release]="valOsc4Release" 
      (waveChange)="setOsc4Wave($event)" (gainChange)="setOsc4Gain($event)" (panChange)="setOsc4Pan($event)"
        (tuneChange)="setOsc4Tune($event)" (attackChange)="setOsc4Attack($event)" (decayChange)="setOsc4Decay($event)"
        (sustainChange)="setOsc4Sustain($event)" (releaseChange)="setOsc4Release($event)"></dhOscillator>
    </div> -->
  </div>

  <div class="keyboard shadow round-corners">
    <dhKeyboard [fadeOut]="fadeOut" (touch)="keyOn($event)" (release)="keyOff($event)"></dhKeyboard>
  </div>
</div>