<div class="synth">

  <div class="master shadow round-corners">
    <dhMaster [volume]="100" [panning]="0" [poly]="true" (volumeChange)="volume($event)"
      (panningChange)="panning($event)" (modeChange)="poly($event)"></dhMaster>
  </div>

  <div class="oscillators">
    <div class="osc shadow round-corners"></div>
    <div class="osc shadow round-corners"></div>
    <div class="osc shadow round-corners"></div>
    <div class="osc shadow round-corners"></div>
  </div>

  <div class="keyboard shadow round-corners">
    <dhKeyboard (keyOn)="keyOn($event)" (keyOff)="keyOff($event)"></dhKeyboard>
  </div>
</div>