<div class="osc">
  <div class="controls">
    <span class="mod-label-vertical">
      VCO
    </span>
  </div>
  <div class="controls">
    <div class="control">
      <div class="label">OSC</div>
      <jqxTooltip [position]="'bottom'" [name]="'tt'" [content]="ttVcoOsc">
        <jqxKnob (onChange)="changeOsc($event)" [value]="osc" [min]="0" [max]="3" [step]="1" [startAngle]="120"
          [endAngle]="480" [snapToStep]="true" [rotation]="'clockwise'" [width]="40" [height]="40" [marks]="marks"
          [labels]="labelsWave" [pointer]="pointer" [spinner]="spinner" [dial]="dial" [dragStartAngle]="180"
          [dragEndAngle]="360">
        </jqxKnob>
      </jqxTooltip>
    </div>
  </div>
  <div class="space">&nbsp;&nbsp;&nbsp;</div>
  <div class="controls">
    <div class="control adsr">
      <div class="label">A</div>
      <jqxTooltip #tooltipAttack [position]="'top'" [name]="'tt'" [content]="ttVcoAttack">
        <jqxSlider #sliderAttack [theme]="'dh'" (onChange)="changeAttack($event)" [showButtons]="false" [height]="115" [width]="40"
          [orientation]="'vertical'" [min]="0" [max]="250" [ticksFrequency]="25" [tooltip]="false" [mode]="'fixed'"
          [tickSize]="4">
        </jqxSlider>
      </jqxTooltip>
    </div>
  </div>
  <div class="controls">
    <div class="control adsr">
      <div class="label">D</div>
      <jqxTooltip #tooltipDecay [position]="'top'" [name]="'tt'" [content]="ttVcoDecay">
        <jqxSlider #sliderDecay [theme]="'dh'" (onChange)="changeDecay($event)" [showButtons]="false" [height]="115" [width]="40"
          [orientation]="'vertical'" [min]="0" [max]="100" [ticksFrequency]="10" [tooltip]="false" [mode]="'fixed'"
          [tickSize]="4">
        </jqxSlider>
      </jqxTooltip>
    </div>
  </div>
  <div class="controls">
    <div class="control adsr">
      <div class="label">S</div>
      <jqxTooltip #tooltipSustain [position]="'top'" [name]="'tt'" [content]="ttVcoSustain">
        <jqxSlider #sliderSustain [theme]="'dh'" (onChange)="changeSustain($event)" [showButtons]="false" [height]="115" [width]="40"
          [orientation]="'vertical'" [min]="0" [max]="100" [ticksFrequency]="10" [tooltip]="false" [mode]="'fixed'"
          [tickSize]="4">
        </jqxSlider>
      </jqxTooltip>
    </div>
  </div>
  <div class="controls">
    <div class="control adsr">
      <div class="label">R</div>
      <jqxTooltip #tooltipRelease [position]="'top'" [name]="'tt'" [content]="ttVcoRelease">
        <jqxSlider #sliderRelease [theme]="'dh'" (onChange)="changeRelease($event)" [showButtons]="false" [height]="115" [width]="40"
          [orientation]="'vertical'" [min]="0" [max]="250" [ticksFrequency]="25" [tooltip]="false" [mode]="'fixed'"
          [tickSize]="4">
        </jqxSlider>
      </jqxTooltip>
    </div>
  </div>
</div>