@font-face {
  font-family: 'Odibee Sans';
  font-style: italic;
  src: url(assets/fonts/Odibee_Sans/OdibeeSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight:300;
  src: url(assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf) format("truetype");
}

$font: 'Odibee Sans', cursive;
$font-small: 'Roboto Condensed', sans-serif;
$space: 8px;
$distance: 1px;
$radius: 5px;

html,
body {
  padding: 0;
  margin: 0;
}

body {
  -webkit-app-region: drag;
  padding: 15px 0 0 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shadow {
  -webkit-box-shadow: $distance $distance 3px 0px rgb(0, 0, 0);
  -moz-box-shadow: $distance $distance 3px 0px rgb(0, 0, 0);
  box-shadow: $distance $distance 3px 0px rgb(0, 0, 0);
}

.round-corners {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.synth {
  width: 834px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 $space;
  -webkit-box-shadow: $distance $distance 13px 0px rgba(0, 0, 0, 0.781);
  -moz-box-shadow: $distance $distance 13px 0px rgb(0, 0, 0, 0.781);
  box-shadow: $distance $distance 13px 0px rgb(0, 0, 0, 0.781);
}

.master {
  float: left;
  align-items: center;
  width: 280px;
  background: #222;
  height: 120px;
  margin: $space 0 0 0;
}

.oscilloscope {
  box-sizing: border-box;
  float: left;
  align-items: center;
  width: 528px;
  background: #222;
  height: 120px;
  margin: $space 0 0 $space;
  overflow: hidden;
}

.mod-label-vertical {
  width: 50px;
  margin-top: 4px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-family: $font;
  color: #333;
  font-size: 36px;
}

.oscillators {
  justify-content: space-between;

  .osc {
    float: left;
    width: 340px;
    margin: $space 0 0 $space;
    background: #222;
  }
  .osc:first-child {
    width: 280px;
    margin-left: 0;
  }
  .osc:last-child {
    width: 180px;
  }

  .controls {
    flex: 1;
    padding-bottom: 10px;
    width: 60px;
  }
  
  .control {
    box-sizing: border-box;
    text-align: center;
    padding: 0 10px 5px 10px;
  
    .label {
      font-family: $font;
      color: grey;
      font-size: 12px;
    }
  }
  
  .control.adsr {
    padding: 0 !important;
  
    .label {
      padding-bottom: 3px;
    }
  }
}

.keyboard {
  // background: #333;
  margin-top: $space;
  overflow: auto;
}

.jqx-switchbutton-label {
  font-size: 12px !important;
  font-family: Sans-Serif !important;
  text-align: center !important;
  text-transform: none !important;
  font-weight: normal !important;
}

.jqx-switchbutton {
  border-radius: 15px !important;
}

.jqx-switchbutton-thumb {
  border-radius: 15px;
}

.jqx-slider-slider-vertical {
  margin-left: -13px !important;
  border-radius: 10%;
  border: 1px solid transparent;
}

.jqx-slider-slider {
  cursor: pointer;
  width: 27px !important;
  height: 12px !important;
  z-index: 15;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 10% !important;
}

jqx-tooltip-text {
  color: white !important;
}

.jqx-fill-state-normal-dh {
  border-color: #111 !important;
  background: #444; /* Old browsers */
  background: -moz-linear-gradient(top, #aebcbf 0%, #6e7774 0%, #0a0e0a 99%, #0a0809 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #aebcbf 0%,
    #6e7774 0%,
    #0a0e0a 99%,
    #0a0809 100%
  ) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #aebcbf 0%,
    #6e7774 0%,
    #0a0e0a 99%,
    #0a0809 100%
  ) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ) !important; /* IE6-9 */
}

.footer {
  display: flex;
}

.quit {
  flex: 1;
}

.quit-button {
  padding: 0 15px;
  margin: 5px 0 0 3px;
  border: 0;
  font-size: 9px;
  font-weight: bold;
  font-family: $font-small;
  color: rgb(117, 43, 0);
  border-radius: 4px;
  border: 1px solid rgb(88, 41, 3);
  background: #fb955e; /* Old browsers */
  background: -moz-linear-gradient(top, #feccb1 0%, #f17432 35%, #ea5507 51%, #fb955e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #feccb1 0%,
    #f17432 35%,
    #ea5507 51%,
    #fb955e 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #feccb1 0%,
    #f17432 35%,
    #ea5507 51%,
    #fb955e 100%
  );
}
.quit-button:hover {
  background: #fb955e; /* Old browsers */
  background: -moz-linear-gradient(top, #fb955e 100%, #ea5507 51%, #f17432 35%, #feccb1 0%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #fb955e 100%,
    #ea5507 51%,
    #f17432 35%,
    #feccb1 0%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #fb955e 100%,
    #ea5507 51%,
    #f17432 35%,
    #feccb1 0%
  );
}

.copyright {
  flex: 1;
  padding: 6px 4px 7px 4px;
  text-align: right;
  font-family: $font-small;
  font-size: 9px;
  color: #aaa;

  a {
    color: #aaa;
    text-decoration: none;
  }
}
