$space: 8px;
$distance: 1px;
$radius: 5px;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.shadow {
  -webkit-box-shadow: $distance $distance 3px 0px rgb(0, 0, 0);
  -moz-box-shadow: $distance $distance 3px 0px rgb(0, 0, 0);
  box-shadow: $distance $distance 3px 0px rgb(0, 0, 0);
}

.round-corners {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.synth {
  width: 834px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: #555;
    // border: 8px solid rgb(0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 $space $space $space;
}

.master {
  float: left;
  align-items: center;
  width: 280px;
  background: #333;
  height: 120px;
  margin: $space 0 0 0;
}

.oscilloscope {
  float: left;
  align-items: center;
  width: 528px;
  background: #333;
  height: 120px;
  margin: $space 0 0 $space;
  overflow: hidden;
}

.mod-label-vertical {
  width: 50px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #444;
    font-size: 36px;
}

.oscillators {
  // flex: 1;
  // display: flex;
  // flex-direction: row;
  justify-content: space-between;

  .osc {
    float: left;
    width: 340px;
    margin: $space 0 0 $space;
    background: #333;
  }
  .osc:first-child {
    width: 280px;
    margin-left: 0;
  }
  .osc:last-child {
    width: 180px;
  }
}

.keyboard {
  background: #333;
  margin-top: $space;
  overflow: auto;
}

.jqx-switchbutton-label {
  font-size: 12px !important;
  font-family: Sans-Serif !important;
  text-align: center !important;
  text-transform: none !important;
  font-weight: normal !important;
}

.jqx-fill-state-normal {
  border-color: #13844c !important;
  background: #17a25d !important;
}

.jqx-switchbutton {
  border-radius: 15px !important;
}

.jqx-switchbutton-thumb {
  border-radius: 15px;
}
